{% load tools %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>JackeyGao</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Python程序员, JackeyGao, 工作地点上海">
    <meta property="qc:admins" content="26552771055655" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/jquery.js"></script>
    <script src="/static/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui text container" style="background: #F3F3F4; padding: 20px 0px;">
      <h1 class="ui blue centered monospaced header" style="font-size: 3em;">
        <span  class="text monospaced teal">{{ profile|g:"title"|default_if_none:"title" }}</span>
      </h1>
      <div style="height: 180px;background: #A3E4D7;margin-bottom: 90px;">
         <div style="position: absolute; left: 50%;">  
            <div style="position: relative; left: -50%; bottom: -105px;">
              <img class="ui small bordered circular image" src="/static/images/avatar.jpg">
            </div>
          </div>
      </div>
      <h4 class="ui centered grey header">{{ profile|g:"name"|default_if_none:"name" }} <span class="black text">/</span> <span class="blue text">{{ profile|g:"city"|default_if_none:"city" }}</span></h4>

       <div style="text-align: center">
          <div class="ui horizontal bulleted list">
          {% for tag in profile|g:"tags"|list %}
            <div class="item"><span class="text green">{{ tag }}</span></div>
          {% endfor %}
          </div>
        </div>

        <div style="text-align: center; margin: 14px;">
          <a href="{{ profile|g:"blog" }}">
          <div class="ui basic green icon big button">
              <i class="rss icon"></i>博客
          </div>
          </a>
        </div>

        <div style="margin: 0px 14px;">
          <h2 class="ui grey header monospaced" style="margin-bottom: 0px;margin-top: 14px;">
            <span  class="text monospaced blue"># <span class="text monospaced green">APPS</span></span>
          </h2>
          <div id="apps" class="ui selection list" style="margin-top: 0px;">
            {% for app in apps %}
            <div class="item" data-content="{{ app.desc }}">
              <div class="right floated content">
                {% if app.demo %}
                <a href="{{ app.demo }}"><span class="blue text">访问</span></a>
                {% else %}
                无
                {% endif %}
              </div>
              <div class="content">
                {% if app.repo %}
                <a href="{{ app.repo }}">
                  <span class="green text">
                   <i class="github icon"></i>
                  </span>
                </a>
                {% else %}
                <span class="text">
                  <i class="github icon" title="未开源"></i>
                </span>
                {% endif %}
                <span class="text grey monospaced" ><b>{{ app.name }}</span></b></span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>


        <div style="margin: 0px 14px;">
          <h2 class="ui grey header monospaced" style="margin-bottom: 0px;margin-top: 14px;">
            <span  class="text monospaced blue"># <span class="text monospaced green">Skills</span></span>
          </h2>
          <div class="ui selection list" style="margin-top: 0px;">
            {% for skill in skills %}
            <div class="item">
              <div class="right floated content">
                <span class="grey level text">{{ skill.level }}</span>
                <span class="green year text">{{ skill.start }}年</span>
              </div>
              <div class="content">
                <span class="text grey monospaced" >{{ skill.name }}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>


        <div style="margin: 0px 14px;">
          <h2 class="ui grey header monospaced" style="margin-bottom: 0px;margin-top: 14px;">
             <span  class="text monospaced blue"># <span class="text monospaced green">Frameworks</span></span>
          </h2>
          <div class="ui selection list" style="margin-top: 0px;">
            {% for framework in frameworks %}
            <div class="item">
              <div class="right floated content">
                <span class="grey level text">
                  {{ framework.level }}
                </span>
                <span class="green year text">{{ framework.start }}年</span>
              </div>
              <div class="content">
                <span class="text grey monospaced" >{{ framework.name }}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="ui divider"></div>
        <div id="footer">
        <span class="monospaced text"><b><a href="https://github.com/jackeyGao/MyIndex"><i class="green github icon"></i></a>Star on github </br> © 2016 JackeyGao. Power by <a href="https://www.conoha.jp/referral/?token=G8vOyReluNtZN0fQSSAyNzldtPOCAFhanp39bkuppaJG.w90xHc-01S"><span class="green text">Conoha</span></a></b></span>
        </div>
      </div>
    </div>
  </body> 
</html>

